/* Общие стили для всей страницы */

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Стили для шапки страницы */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    margin: 0 10px;
}

#login {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.dropdown {
    position: relative;
}

#dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 1;
}

#dropdown-content li {
    background-color: #f1f1f1;
    padding: 12px 16px;
    cursor: pointer;
}
.dropdown li {
    width: 150px;
}

#dropdown-content li:hover {
    background-color: #ddd;
}

ul#dropdown-content li {
    font-size: 16px;
}

#address {
    color: black;
    text-decoration: none;
}

#address:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

/* Стили для основного содержимого */

/*main {*/
/*    padding: 20px;*/
/*}*/

/* Стили для подвала страницы */

/*footer {*/
/*    background-color: #f5f5f5;*/
/*    padding: 10px;*/
/*    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);*/
/*}*/

