/* Общие стили для всей страницы */

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Стили для шапки страницы */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    display: flex;
}

nav li {
    margin: 0 10px;
}

.login {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

/* Стили для основного содержимого */

main {
    padding: 20px;
}

/* Стили для подвала страницы */

footer {
    background-color: #f5f5f5;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

