/* Общие стили для всей страницы */

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header a {
    text-decoration: none;
    color: inherit;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Стили для шапки страницы */

header {
    height: 50px;
    display: flex;
    position: relative; /* добавить свойство position */
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.site-logotype {
    height: 50px;
    width: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-logotype:hover {
    cursor: pointer;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
}

header li {
    margin: 0 10px;
}

#login {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.dropdown {
    position: relative;
}

#dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
    z-index: 1;
}

#dropdown-content li {
    background-color: #f1f1f1;
    padding: 12px 16px;
    cursor: pointer;
}

.dropdown li {
    width: 150px;
}

#dropdown-content li:hover {
    background-color: #ddd;
}

ul#dropdown-content li {
    font-size: 16px;
}

#address {
    color: black;
    text-decoration: none;
}

#address:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

main {
    margin-top: 30px;
    padding-left: 20px;
    margin-bottom: 70px;
}

#log_out {
    margin-top: 40px;
}

#log_out a {
    background-color: #dc3545;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s;
}

#log_out a:hover {
    background-color: #c82333;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
}

.input-user-data-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 2px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}

input[type="submit"] {
    background-color: #0077c2;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #005ea6;
}

.input-user-data {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    text-align: center;
    align-items: center;
}

.input-user-data label, .input-user-data input[type="submit"] {
    display: block;
    margin-bottom: 10px;
}

.input-user-data input[type="text"], .input-user-data input[type="password"] {
    width: 100%;
}

.input-user-data a {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

.input-user-data a:visited {
    color: purple;
}

#order-search-container {
    width: 200px;
}
